<div class="wrapper">
  <div class="menu">
    <button (click)="refreshTable(0)">Signalé</button>
    <button (click)="refreshTable(1)">Assigné</button>
    <button (click)="refreshTable(2)">Sauvé</button>
    <button (click)="refreshTable(3)">Echec</button>
    <button (click)="refreshTable(4)">Annulé</button>
  </div>

  <div class="table">
      <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Créneau</th>
              <th>Alerteur</th>
              <th>Animal</th>
              <th>Couleur</th>
              <th class="table-cell-adress">Adresse</th>
              <th>Etat</th>
              <th>Collier</th>
              <th>Statut</th>
              <th>Brigade</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let alert of alerts">
              <td (click)="editAlert(alert._id)">{{alert.date | date : 'dd / M / yyyy'}}</td>
              <td (click)="editAlert(alert._id)">{{alert.time_slot.start}} - {{alert.time_slot.end}} h</td>
              <td (click)="editAlert(alert._id)">{{alert.alertor}}</td>
              <td (click)="editAlert(alert._id)">{{alert.animal.type}}</td>
              <td (click)="editAlert(alert._id)">{{alert.color | titlecase}}</td>
              <td (click)="editAlert(alert._id)" class="table-cell-adress">{{alert.adress.number}} {{alert.adress.street}}, {{alert.adress.zipcode}} {{alert.adress.city}}</td>
              <td (click)="editAlert(alert._id)" *ngIf="alert.health == 1">Très faible</td>
              <td (click)="editAlert(alert._id)" *ngIf="alert.health == 2">Faible</td>
              <td (click)="editAlert(alert._id)" *ngIf="alert.health == 3">Moyen</td>
              <td (click)="editAlert(alert._id)" *ngIf="alert.health == 4">Bon</td>
              <td (click)="editAlert(alert._id)" *ngIf="alert.choker == true">Oui</td>
              <td (click)="editAlert(alert._id)" *ngIf="alert.choker == false">Non</td>
              <td (click)="editAlert(alert._id)" *ngIf="alert.status == 0">Signalé</td>
              <td (click)="editAlert(alert._id)" *ngIf="alert.status == 1">Assigné</td>
              <td (click)="editAlert(alert._id)" *ngIf="alert.status == 2">Sauvé</td>
              <td (click)="editAlert(alert._id)" *ngIf="alert.status == 3">Echec</td>
              <td (click)="editAlert(alert._id)" *ngIf="alert.status == 4">Annulé</td>
              <td (click)="editAlert(alert._id)" class="table-cell-squad" *ngIf="alert.status == 0">
                <div >
                  <label>
                    <select [formControl]="squad">
                      <option *ngFor="let squad of squads" value="{{squad._id}}">{{squad.name}}</option>
                    </select>
                  </label>
        
                    <button class="submit-squad">
                      <img src="../../../assets/images/alarm.svg" alt="">
                    </button>
                </div>
              </td>
              <td class="table-cell-squad" *ngIf="alert.squad != null && alert.status != 0">{{alert.squad.name}}</td>
            </tr>
          </tbody>
        </table>    

  </div>
</div>