<div class="wrapper-form">
  <form [formGroup]="alertForm" class="form-group" (ngSubmit)="sendAlert()">
    <div class="form-group-one">
      <div class="head">
        <p class="head-title">Signaler un animal abandonné</p>
        <p class="head-description">Renseignez tous les champs pour créer votre signalement</p>
      </div>
      <label>
        Quand avez-vous trouvé l'animal ?
        <input type="date" formControlName="date">
      </label>
      <label>
        Saisissez un créneau horaire :
        <p class="error" *ngIf="alertForm.controls.timeSlot_end.touched && alertForm.errors">
          Oops, ton créneau horaire n'est pas correct !</p>
        <input type="number" placeholder="12" formControlName="timeSlot_start">
        <input type="number" placeholder="14" formControlName="timeSlot_end">
      </label>
      <label>
        Saisissez votre adresse email :
        <p class="error" *ngIf="alertForm.controls.alertor.touched && alertForm.controls.alertor.errors">
          Oops, ton adresse mail est incorrecte, exemple: tonnom@save-spa.fr</p>
        <input type="email" placeholder="alert@example.fr" formControlName="alertor">
      </label>
      <label>
        Saisissez l'adresse du lieu où vous l'avez trouvé :
        <p class="error" *ngIf="alertForm.controls.adressNumber.touched && alertForm.controls.adressNumber.errors">
          Oops, le numéro de rue n'est pas correct</p>
        <p class="error" *ngIf="alertForm.controls.adressStreet.touched && alertForm.controls.adressStreet.errors">
          Oops, saisissez une adresse correcte, exemple: avenue de Paris</p>
        <p class="error" *ngIf="alertForm.controls.adressZipcode.touched && alertForm.controls.adressZipcode.errors">
          Oops, un code postal invalide !</p>
        <p class="error" *ngIf="alertForm.controls.adressCity.touched && alertForm.controls.adressCity.errors">
          Oops, nous ne connaissons pas cette ville</p>
        <input class="input-adressNumber" type="number" placeholder="194" formControlName="adressNumber">
        <input class="input-adressStreet" type="text" placeholder="avenue Aristide Briand" formControlName="adressStreet">
        <input class="input-adressZipcode" type="number" placeholder="94320" formControlName="adressZipcode">
        <input class="input-adressCity" type="text" placeholder="Cachan" formControlName="adressCity">
      </label>
    </div>
    <div class="form-group-two">
      <label>
        Quel type d'animal avez-vous trouvé ?
        <select formControlName="animal">
          <option *ngFor="let animal of animals" value="{{animal._id}}">{{animal.type}}</option>
        </select>
      </label>
      <label>
        Dans quel état était l'animal lorsque vous l'avez trouvé ?
        <select formControlName="health">
          <option value="1">Très Faible</option>
          <option value="2">Faible</option>
          <option value="3">Moyen</option>
          <option value="4">Bon</option>
        </select>
      </label>
      <label>
        De quelle couleur était le poil de l'animal ?
        <p class="error" *ngIf="alertForm.controls.color.touched && alertForm.controls.color.errors">
          Oops, quelle est donc cette couleur ?</p>
        <input type="text" placeholder="Renseignez la couleur de l'animal: noir, brun, mixte..." formControlName="color"
          minlength="4">
      </label>
      <label class="container-checkbox">
        <div>
          L'animal portait-il un collier ?
        </div>
        <input type="checkbox" formControlName="choker" checked="true">
        <span class="checkmark"></span>
      </label>
      <button type="submit" [disabled]="alertForm.status == 'INVALID'">Sauvons cet animal !</button>
    </div>

  </form>
</div>