.footer {
    position: relative;
    bottom: 0vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b6c2b7;
    text-align: center;
    height: 100px;
    font-weight: bold;
    font-size: 20px;
}

.logos {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}
img {
    width: 15%;
}