<div class="footer">
  <p>Save Spa - Serge Da Silva</p>
  <div class="logos">
    <img src="../../../assets/images/dog.svg" alt="">
    <img src="../../../assets/images/cat.svg" alt="">
    <img src="../../../assets/images/rabbit.svg" alt="">
    <img src="../../../assets/images/dove.svg" alt="">
  </div>
</div>