.menu {
    width: 100%;
    background-color: #e8f5e9;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;

}

.menu-btn {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline;
    }
    
    li a {
        padding: 20px;
        font-size: 20px;
        text-decoration: none;
        color: black;
        text-align: center;
    
        &:hover {
            background-color: #a5d6a7;
        }
    
    }
}

.logo {
    font-style: italic;
}