<div class="menu">
  <div class="menu-btn">
    <ul>
      <li><a href="{{_url}}/dashboard">Dashboard</a></li>
      <li><a href="{{_url}}/save-an-animal">Signaler</a></li>
      <li><a href="{{_url}}/filter/0">Filtrer</a></li>
      <li><a href="{{_url}}/map">Carte</a></li>
    </ul>
  </div>
  <div class="logo">
    <p>Save Spa</p>
  </div>
</div>