.wrapper {
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 260px)
}

.title {
    font-size: 26px;
    font-weight: bold;
}

table {
    border-spacing: 0.5rem;
    border-collapse: collapse;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

tbody tr:hover {
    cursor: pointer;
    background-color: #c8e6c9;
}

td, th {
    padding: 1rem;
    text-align: left;
    border-left: 1px solid #c8e6c9;
}  

th {
    background-color: #c8e6c9;
    text-align: center;
}

.table-cell-adress {
    max-width: 200px;
    overflow: hidden;
}

.table-cell-squad {

    text-align: center;

    div {
        min-width: 200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

    }

    select {
        border-left: 1px solid #ccc;
        border-top: 0px;
        border-right: 0px;
        border-bottom: 2px solid #96b397;
        box-sizing: border-box;
    }

}

    .submit-squad {
        background-color: #97b498;
        width: 30%;
        text-align: center;
        cursor: pointer;
        border: none;

        &:hover{
            background-color: #c8e6c9;
            border: 1px solid #97b498;
        }
    }

        img {
            width: 30%;
            margin: 5px;
        }