.wrapper-form {
    width: 100%;
    display: flex;
    justify-content: center;

}

.form-group {
    width: 75%;
    //background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;

    label {
        padding: 5px;
    }

    input, select {
        display: block;
        margin-top: 5px;
        padding: 12px 20px;
        margin: 8px 0;
        border-left: 1px solid #ccc;
        border-top: 0px;
        border-right: 0px;
        border-bottom: 2px solid #96b397;
        box-sizing: border-box;
    }

    input:focus, select:focus {
        outline: none;
        border-bottom: 2px solid #f1f8e9;
    }

    input[type= number] {
        width: 30%;
    }

    input[type= text], input[type=email] {
        width: 100%;
    }

    select {
        width: 80%;

        option {
            background-color: #f1f8e9;
            font-size: 16px;
        }
    }
}

.form-group-one, .form-group-two {
    width: 45%;
}

.form-group-one {
    
    .head {
        background-color: #f1f8e9;
        margin-bottom: 5px;

        .head-title {
            font-size: 24px;
            padding: 15px 15px 0px 15px;
            margin: 0;
        }

        .head-description {
            font-size: 14px;
            font-style: italic;
            margin: 0;
            padding: 0px 15px 15px 15px;
        }
    }

    .input-adressNumber {
        width: 20% !important;
    }

    .input-adressZipcode {
        width: 30% !important;
    }

    .input-adressCity {
        width: 50% !important;
    }
}

.form-group-two {

    align-self: center;

    .container-checkbox {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    
      .container-checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      .checkmark {
        position: absolute;
        top: 5px;
        left: 330px;
        height: 25px;
        width: 25px;
        background-color: #eee;
      }
    
    .container-checkbox:hover input ~ .checkmark {
        background-color: #f1f8e9;
    }
  
  .container-checkbox input:checked ~ .checkmark {
    background-color: #96b397;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  button {
      background-color: #96b397;
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
      width: 50%;
      font-weight: bold;
      font-size: 18px;
      margin-top: 50px;

      &:hover {
          background-color: #f1f8e9;
      }

      &:disabled {
          background-color: #ccc;
          color: white;
          cursor: wait;
      }
  }
}

.error {
    color: red;
    font-style: italic;
    padding: 5px;
    margin: 0 0 0 10px;
}