<div class="wrapper-form">
  <form [formGroup]="alertForm" class="form-group">
    <div class="form-group-one">
      <div class="head">
        <p class="head-title">Modifier votre signalement</p>
        <p class="head-description">Renseignez les champs disponibles pour modifier votre signalement</p>
      </div>
      <label>
        Quand avez-vous trouvé l'animal ?
        <p *ngIf="alert">Animal trouvé le {{alert.date | date : 'dd / M / yyyy'}}</p>
      </label>
      <label>
        Saisissez un créneau horaire :
        <p *ngIf="alert">L'animal a été trouvé entre {{alert.time_slot.start}}h et {{alert.time_slot.end}}h</p>
      </label>
      <label>
        Saisissez votre adresse email :
        <p class="error" *ngIf="alertForm.controls.alertor.touched && alertForm.controls.alertor.errors">
          Oops, ton adresse mail est incorrecte, exemple: tonnom@save-spa.fr</p>
        <input type="email" placeholder="alert@example.fr" formControlName="alertor">
      </label>
      <label>
        Saisissez l'adresse du lieu où vous l'avez trouvé :
        <p class="error" *ngIf="alertForm.controls.adressNumber.touched && alertForm.controls.adressNumber.errors">
          Oops, le numéro de rue n'est pas correct</p>
        <p class="error" *ngIf="alertForm.controls.adressStreet.touched && alertForm.controls.adressStreet.errors">
          Oops, saisissez une adresse correcte, exemple: avenue de Paris</p>
        <p class="error" *ngIf="alertForm.controls.adressZipcode.touched && alertForm.controls.adressZipcode.errors">
          Oops, un code postal invalide !</p>
        <p class="error" *ngIf="alertForm.controls.adressCity.touched && alertForm.controls.adressCity.errors">
          Oops, nous ne connaissons pas cette ville</p>
        <input class="input-adressNumber" type="number" placeholder="194" formControlName="adressNumber">
        <input class="input-adressStreet" type="text" placeholder="avenue Aristide Briand" formControlName="adressStreet">
        <input class="input-adressZipcode" type="number" placeholder="94320" formControlName="adressZipcode">
        <input class="input-adressCity" type="text" placeholder="Cachan" formControlName="adressCity">
      </label>
    </div>
    <div class="form-group-two">
      <label>
        Quel type d'animal avez-vous trouvé ?
        <p *ngIf="alert">L'animal était un {{alert.animal.type | lowercase}}</p>
      </label>
      <label>
        Dans quel état était l'animal lorsque vous l'avez trouvé ?
        <select formControlName="health">
          <option value="1">Très Faible</option>
          <option value="2">Faible</option>
          <option value="3">Moyen</option>
          <option value="4">Bon</option>
        </select>
      </label>
      <label>
        De quelle couleur était le poil de l'animal ?
        <p class="error" *ngIf="alertForm.controls.color.touched && alertForm.controls.color.errors">
          Oops, quelle est donc cette couleur ?</p>
        <input type="text" placeholder="Renseignez la couleur de l'animal: noir, brun, mixte..." formControlName="color"
          minlength="4">
      </label>
      <label class="container-checkbox">
        <div>
          L'animal portait-il un collier ?
        </div>
        <input type="checkbox" formControlName="choker" checked="true">
        <span class="checkmark"></span>
      </label>
      <label>
        Affecter une brigade de secours
        <p *ngIf="alert && alert.status != 0">La brigade {{alert.squad.name}} a été affectée pour sauver cet animal</p>
        <select *ngIf="alert && alert.status == 0 && squads" formControlName="squad">
          <option *ngFor="let squad of squads" value="{{squad._id}}">{{squad.name}}</option>
        </select>

      </label>
      <label *ngIf="alert && alert.status != 0">
        Statut de la mission
        <select formControlName="status">
          <option value="2">Sauvé</option>
          <option value="3">Echec</option>
          <option value="4">Annulé</option>
        </select>
      </label>
      <button (click)="sendAlert()">Envoyer les modifications</button>
    </div>

  </form>
</div>